* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;

}

.nav-link {
    color: #17233D;
    width: 87px;
    height: 20px;
    top: 47px;
    left: 42px;
    margin-right: 32px;
    width: 83px;
    height: 21px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.88px;
    text-align: center;
    cursor: pointer;
}
.nav-header {
    margin: 42px 47px;
}

.nav-btn {
    cursor: pointer;
    width: 67px;
    height: 24px;
    border-radius: 6px;
    border: 1px;
    background-color: #6fbf44;
    border-color: #4cb538;
    color: #fff;
    width: 124px;
    height: 51px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    top: 13px;
    left: 28px;
}

.hero-img {
    position: relative;
    width: 595px;
    height: 500px;
    top: 246px;
    left: 121px;
}


